@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


img{
    width: 200px;
    border: none;
   
}

.header {
    background: white;
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navbar {
    /* align-items: flex-start; */
}

.navbar img {
    width: 100px;
    filter: grayscale(10);
}

.navbar ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navbar ul a {
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


.main-one {
    padding: 100px 0;
    background: #1f2937;
    color: white;
}

.main-one .left {
    max-width: 500px;
}

.main-one .left h1 {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 30px;
}

.main-one .left p {
    line-height: 30px;
    font-size: 24px;
    padding-bottom: 70px;
}

.main-one .left a{
    padding: 12px 24px;
    color: white;
    background: #3882fc;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-weight: bold;
}

.main-one .left a:hover {
    color: #3882fc;
    background-color: white;
}


.main-one .right img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.main-two {
    background: white;
    padding-top: 60px;
    padding-bottom: 100px;
}

.main-two .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.main-two .wrapper .some-equipment {
    display: flex;
    gap: 15px;
    margin: 0 auto;
    max-width: 950px;
    justify-content: center;
}

.main-two .wrapper .some-equipment .equipment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 300px;
}

.main-two img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex: 1;
}

.main-two h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    width: 800px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.main-two p {
    width: 200px;
}

.main-three {
    padding: 90px 0;
    background-color: #e5e7eb;
}

.main-three .three-wrapper {
    max-width: 950px;
    margin: 0 auto;
    
}

.main-three p {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 20px;
    font-weight: 400px;
}

.main-three h2 {
    text-align: end;
    font-size: 25px;
    font-weight: 800;
}

.main-four {
    padding: 80px 0;
}

.main-four .four-wrapper {
    padding: 50px 100px;
    background: #3882fc;
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
}

.main-four h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.main-four p {
    font-size: 20px;
}

.main-four a {
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 34px 0;
}

.footer p {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    
}

.sticky + .main-one {
    padding-top: 200px;
}